<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>M-Naga Blog</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/"><p class="navbar-brand">M-Naga Blog</p></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Home</a></li>
          <li id="home"><a href="/compose">New Post</a></li>
          <li id="about"><a href="/about">About me</a></li>
          <li id="contact"><a href="/contact">Contacts</a></li>
        </ul>
      </div>
    </nav>
    <!-- Custom menu for mobile version -->
    <nav class="custom-navbar">
      <div class="navbar-header">
        <p class="navbar-brand">M-Naga Blog</p>
      </div>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <ul class="menu">
        <li id="home"><a href="/">Home</a></li>
        <li id="home"><a href="/compose">New Post</a></li>
        <li id="about"><a href="/about">About me</a></li>
        <li id="contact"><a href="/contact">Contacts</a></li>
      </ul>
    </nav>    
  </head>
  <body>
    <div class="container-column">

