<%- include("partials/header") -%>
<hr />
<h1>About Me</h1>
<hr />
<p class="about">
  My name is Mohammed Tarek Mohammed Hassan Khalil, and I am a computer engineer
  based in Alexandria, Egypt.<br />
  I graduated from the Pharos University in Alexandria (PUA) in 2021.
</p>
<br />
<hr />
<h1>Education</h1>
<hr />
<br />
<p class="about">
  Bachelor's Degree in Computer Engineering from Pharos University in Alexandria
  (PUA)
</p>
<br />
<hr />
<h1>Skills</h1>
<hr />
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>jQuery</li>
  <li>Bootstrap</li>
  <li>MongoDB</li>
  <li>SQL</li>
  <li>ReactJS</li>
  <li>Node.js</li>
  <li>Express.js</li>
</ul>
<br />
<hr />
<p class="about">
  I am passionate about web development and have expertise in front-end
  technologies such as HTML, CSS, and JavaScript.
</p>
<br />
<hr />
<p class="about">
  I am proficient in using frameworks like jQuery and Bootstrap to create
  responsive and visually appealing web applications.<br />
</p>
<hr />
<p class="about">
  In addition to my front-end skills, I have experience working with databases
  like MongoDB and SQL. I am also familiar with server-side technologies like
  Node.js and Express.js, which I utilize to build robust and efficient web
  servers.<br />
</p>
<hr />
<p class="about">
  Feel free to explore my portfolio and get in touch with me for any
  collaboration or project opportunities.<br />
  I am always excited to take on new challenges and contribute to innovative
  projects in the field of web development.<br />
</p>
<hr />
<p class="about">
  Feel free to explore my portfolio and get in touch with me for any
  collaboration or project opportunities.<br />
  I am always excited to take on new challenges and contribute to innovative
  projects in the field of web development.<br />
</p>
<hr />
<p class="about">Thank you for visiting my website!<br /></p>

<%- include("partials/footer") -%>
