<%- include("partials/header") -%>
<h1>Compose</h1>
<hr />

<div class="post-container">
  <div class="wrapper">
    <section class="post">
      <header>New Post</header>
      <form action="/compose" method="post">
        <input
          placeholder="post title"
          spellcheck="false"
          name="postTitle"
          required />
        <textarea
          placeholder="What's on your mind, CodeWithNepal?"
          spellcheck="false"
          name="postContent"
          required></textarea>
        <button>Post</button>
      </form>
    </section>
  </div>
</div>



<%- include("partials/footer") -%>
