<%- include("partials/header") -%>
<h1>Compose</h1>
<hr>
<form action="/compose" method="post">
  <!--  -->
  <div class="form-group">
    <label for="title">Title</label>
    <hr>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Post Title"
      name="postTitle" />
  </div>
  <!--  -->
  <div class="form-group">
    <label for="post-content">Post</label>
    <hr>
    <textarea
      name="postContent"
      class="form-control"
      id="post-content"
      rows="5"
      placeholder="Post Content"></textarea>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </div>
</form>

<%- include("partials/footer") -%>
