<%- include("partials/header") -%>
<p class="about">
    <hr>
    <h1>Phone Number </h1>
    <hr>
    <p class="about">
        +201275599845
    </p>
    <hr>
    <h1>Facebook</h1>
    <hr>
    <a href="https://www.facebook.com/profile.php?id=100005454550787" target="_blank">
        <p class="about">
            Click here to visit my Facebook page
        </p> 
    </a>
    <hr>
    <h1>Linked-In</h1>
    <hr>
    <a href="https://www.linkedin.com/in/mohammed-tarek-naga-240370177/" target="_blank">
        <p class="about">
            Click here to visit my Linked-In page
        </p> 
    </a>
    <hr>



</p>
<%- include("partials/footer") -%>
