body {
  background: linear-gradient(#ffffff, #e4e4e4);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.container-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
#logo {
  height: 55px;
}
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: black;
}
.navbar-nav li {
  padding: 0px;
  margin: 0px;
  margin-right: 35px;
  margin-left: 60px;
  list-style-type: none;
}
li a {
  color: antiquewhite !important;
  /* padding: 10px !important; */
  font-size: 22px !important;
}
@media (max-width: 990px) {
  .navbar-nav li {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    list-style-type: none;
    font-size: 25px;
  }
}
.navbar-nav li a:hover {
  color: #b6bebd !important;
}
/* Footer  */
.footer-padding {
  height: 100vh;
}
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #365500;
}
.footer p {
  margin: 0;
  font-size: 20px;
  padding: 15px;
  color: #fff;
}
.panel-body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}
.btn {
  width: 70%;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  border-radius: 20px;
  background-color: brown;
}
p.about {
  font-size: 25px;
  color: brown;
  margin: 15px;
  text-decoration: none;
}
ul li {
  list-style: circle;
  padding: 5px;
  font-size: 20px;
  color: brown;
  margin-top: 20px;
}
h1 {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
hr {
  background-color: rgb(16, 16, 16);
  height: 3px;
  margin: 20px 0px 20px 0px;
  border: none;
}
a {
  text-decoration: none;
}
/* ---------------------------------------------------------- */
/* Post design  */
.post-container {
  width: 90%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  /* .... */
  display: flex;
  min-height: 100%;
  margin: auto;
  margin-top: 40px;
}
.post p {
  font-size: 25px;
  margin: 20px;
  color: rgb(85, 19, 19);
}

.post-container .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.post-container .wrapper section {
  width: 95%;
  background: #fff;
}

.post-container .post {
  transition: margin-left 0.18s ease;
}

.post header {
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  background-color: beige;
}
.post form {
  margin: 20px 25px;
}

form :where(textarea, button, input) {
  width: 100%;
  outline: none;
  border: none;
}
form textarea {
  resize: none;
  font-size: 18px;
  margin-top: 40px;
  min-height: 100px;
}
form input {
  resize: none;
  font-size: 18px;
  margin-top: 15px;
  min-height: 40px;
}
form textarea::placeholder,
form input::placeholder {
  color: #858585;
}
form textarea:focus::placeholder,
form input:focus::placeholder {
  color: #b3b3b3;
}

form button {
  height: 53px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #d3d8dd;
  cursor: no-drop;
  border-radius: 7px;
  background: #727375;
  transition: all 0.3s ease;
  font-size: 29px;
}
form textarea:valid ~ button {
  color: #fff;
  cursor: pointer;
  background: #4267b2;
  font-size: 29px;
}
form textarea:valid ~ button:hover {
  background: #0c42ae;
  font-size: 30px;
}
body > div.container-column > form > div > div > section > p > a {
  font-size: 15px;
}
/* -------------------------------------------------------------- */
